<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/admin/plugins/font-awesome/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{/admin/plugins/iCheck/flat/blue.css}">
    <!-- Morris chart -->
    <link rel="stylesheet" th:href="@{/admin/plugins/morris/morris.css}">
    <!-- jvectormap -->
    <link rel="stylesheet" th:href="@{/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.css}">
    <!-- Date Picker -->
    <link rel="stylesheet" th:href="@{/admin/plugins/datepicker/datepicker3.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" th:href="@{/admin/plugins/daterangepicker/daterangepicker-bs3.css}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">
    <script th:src="@{https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js}"></script>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <!--    header-->
    <div th:replace="fragments/header"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="fragments/sidebar"/>
    <!--    sidebar-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Thêm bản tin</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="index">Home</a></li>
                            <li class="breadcrumb-item active">Thêm bản tin</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Chỉnh sửa ở đây! -->
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Nhập thông tin chi tiết bản tin</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Ảnh đại diện</label>
                                            <img id="viewAvatar" src="/admin/img/avatar.png" style="width: 300px; height: 320px">
                                            <input type="file" id="fileAvatar" onchange="preview()">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtTitle">Tiêu đề</label>
                                            <input type="text" class="form-control" id="txtTitle" placeholder="Nhập vào tiêu đề">
                                        </div>
                                        <div class="form-group">
                                            <label >Nội dung</label>
                                            <form action="" method="post">
                                                <!-- (2): textarea sẽ được thay thế bởi CKEditor -->
                                                <textarea id="txtContent" name="editor1" cols="80" rows="10">
                                                </textarea>
                                            </form>
                                        </div>
                                        <div class="form-group">
                                            <label>Thể loại</label>
                                            <select id="txtCategory" class="form-control">

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtAuthor">Tác giả</label>
                                            <input type="text" class="form-control" id="txtAuthor" placeholder="Tác giả">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtOriginalResource">Link nguồn</label>
                                            <input type="text" class="form-control" id="txtOriginalResource" placeholder="Link nguồn">
                                        </div>


                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button id="btnSaveNews" type="submit" class="btn btn-primary">Lưu</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
            </div>
            <!--        Thông tin chi tiết , mô tả ngắn , mô tả chi tiết , ảnh-->
            <div class="container-fluid">
                <div class="row">

                </div>

            </div><!-- /.container-fluid -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--    foorter-->
    <div th:replace="fragments/footer" />

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)

    CKEDITOR.replace('txtContent');


    function preview(){
        viewAvatar.src = URL.createObjectURL(event.target.files[0]);
    }

    $('#btnSaveNews').click(function (){
       var title = $('#txtTitle').val();
       var content = CKEDITOR.instances.txtContent.getData();
       var categoryId = $('#txtCategory :selected').val();
       var author = $('#txtAuthor').val();
       var originalResource = $('#txtOriginalResource').val();

        var newsRequest = new FormData();
        newsRequest.append("title",title);
        newsRequest.append("content",content);
        newsRequest.append("categoryId",categoryId);
        newsRequest.append("author",author);
        newsRequest.append("originalResource",originalResource);
        newsRequest.append("avatar",fileAvatar.files[0]);

        debugger;
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8081/api/admin/news',
            data: newsRequest,
            enctype: 'multipart/form-data',
            processData: false,
            cache: false,
            contentType:false,
            error: function (error) {
                alert("Thêm tin bài đã lỗi!");
            },
            success: function (response) {
                alert(" Thêm thành công!")
                window.location.replace('http://localhost:8081/news');
            }
        });

    });

    $(document).ready(function (){

        $.ajax({
            type: 'GET',
            url: 'http://localhost:8081/api/admin/category',
            success: function (response) {
                console.log(response);
                var category = $('#txtCategory');
                response.data.forEach(data => {
                    category.append("<option value=" + data.id + ">" + data.name + "</option>");
                });
            },
            error: function (error){
                console.log(error);
            }
        });

    });

</script>
<!-- Bootstrap 4 -->

<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->


<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Morris.js charts -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js}"></script>
<script th:src="@{/admin/plugins/morris/morris.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/admin/plugins/sparkline/jquery.sparkline.min.js}"></script>
<!-- jvectormap -->
<script th:src="@{/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/admin/plugins/knob/jquery.knob.js}"></script>
<!-- daterangepicker -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js}"></script>
<script th:src="@{/admin/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- datepicker -->
<script th:src="@{/admin/plugins/datepicker/bootstrap-datepicker.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script th:src="@{/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<!-- Slimscroll -->
<script th:src="@{/admin/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/admin/plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/admin/dist/js/pages/dashboard.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/admin/dist/js/demo.js}"></script>
<!-- CK Editor -->

<script>
    $.widget.bridge('uibutton', $.ui.button)


</script>
</body>
</html>
